* {
  margin: 0;
  box-sizing: border-box;
} 

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  padding: 30px 15px;
  border: 1px solid #000;
}

.heading {
  font-size: 40px;
  padding: 0 10px;
  text-transform: uppercase;
  text-align: center;
}

#form {
  margin-top: 30px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group.success input {
  border-color: green;
}

.form-group.error input {
  border-color: red;
}

.form-label {
  font-size: 20px;
  display: block;
}

.form-control {
  margin-left: 200px;
  position: relative;
  top: -22px;
}

.form-message {
  position: relative;
  left: -174px;
  top: 5px;
  color: red;
}